click==8.0.3
Flask
itsdangerous
Jinja2
MarkupSafe
pip
setuptools
Werkzeug
Flask-SQLAlchemy
Flask-Login
Flask-Talisman
pyotp
pycryptodome
SQLAlchemy
WTForms==2.3.3
cryptography==35.0.0
Flask-WTF
email-validator